{{#if this.searchAttributes.notSelectedDataTypes.length}}
<button data-test-add-data-type-button class="material-icons add-data-type-button" type="button"
    {{on "click" this.toggleOpen}}>add</button>
{{/if}}

<PopUpMenu data-test-add-data-type-menu @isOpened={{this.isOpen}} @toggleAction={{this.toggleOpen}}
    @label="Add data type">
    {{#each this.searchAttributes.notSelectedDataTypes as |type|}}
    <button data-test-add-data-option data-test-add-data-option-id="{{type.id}}" class="default-button" type="button"
        {{on "click" (fn this.addDataType type)}}>{{type.name}}</button>
    {{/each}}
</PopUpMenu>